@charset "UTF-8";

.header {
  padding: 65px 0px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  color: #000000;
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-right: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-nav__item {
  margin-right: 100px;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__item a {
  color: #626262;
  line-height: 24px;
  text-transform: uppercase;
}

.main-nav__item a:hover {
  color: #000000;
  -webkit-box-shadow: 1px 1px 1px #000000;
          box-shadow: 1px 1px 1px #000000;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  margin-left: 17px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright__item a {
  margin-right: 17px;
  color: #000000;
  line-height: 24px;
}

.copyright__item a:hover {
  color: #000000;
  text-decoration: underline;
}

.copyright__item:last-child {
  margin-right: 0;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.container {
  max-width: 1063px;
  margin: 0 auto;
}

body {
  font-weight: 400;
  font-size: 14px;
  font-family: "Playfair Display", serif;
}